@import "tailwindcss";

:root {
  --color-neon-green: #0f0;
  --color-deep-blue: #000033;
  --color-black: #000;
}

body {
  background-color: black;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden; /* For OS feel */
}